.record_16-9 {
  height: 540px;
  width: 960px;
  outline: #ddd solid 1px;
}

.green-screen {
  background-color: #00FF12;
}

.record_1-1 {
  height: 320px;
  width: 320px;
  outline: #ddd solid 1px;
}