@import 'controls';

$width: 400px;
$height: $width/2.5;

svg {
  position: relative;
  top:0;
  left: 50%;
  margin-top: 100px;
  width: $width;
  height: $height;

  //border: #eee 1px solid;
  overflow: visible;
  transform: translateX(-50%)
}